---
import { Image } from 'astro:assets';

import logo from '../../assets/images/logo.svg';
---

<nav class="flex flex-initial justify-center items-center px-0 py-4 sm:py-6">
  <a href="/" class="no-underline">
    <Image src={logo} alt="Fragments & Flows" height="64" />
  </a>
</nav>
