---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/navigation/NavigationBar.astro';
import MainContainer from '../components/MainContainer.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/actions/buttons/Button.astro';
import { externalPosts } from '../content/garden/external';
import { type Post } from '../models/post';
import PostComponent from '../components/content/Post.astro'

const featuredWriting: Post[] = [
  externalPosts['Introducing v2 Editor'],
  externalPosts['Towards a Communist Theory of Value'],
];
---

<Layout title="Fragments & Flows">
  <MainContainer>
    <NavigationBar />

    <div class="flex flex-col align-center px-6 gap-10 sm:gap-30 md:gap-40">
      <div class="flex flex-auto flex-col justify-around">
        <div class="flex flex-col py-0 gap-6">
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            Hi, I’m Aris! Welcome to my personal website and digital garden!
          </p>
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            I write software, so much of the content in this website is around
            software engineering, architecture and programming paradigms. I also
            enjoy digital product design, so you may read about user experience
            and human-computer interaction.
          </p>
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            But I dislike being a specialist. I enjoy reading philosophy and
            human sciences, especially political theory and sociology. I like
            reflecting on how we think and work, especially when it comes to
            knowledge work. I seek to understand the various ontologies behind
            philosophical systems and the flows of influence and association
            between thinkers.
          </p>
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            I believe there is something fundamentally wrong with the current
            social order and seek to analyze its inner workings while organizing
            with people that want to create alternatives. I endorse emancipatory
            social forms that broadly belong to the anarchist communist
            tradition.
          </p>
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            I am a member of a small software R&D collective, Oktana, and these
            days we are focusing on developing v2, a local-first rich text
            editor with version control capabilities.
          </p>
        </div>
      </div>
    </div>

    <div class="px-6">
      <hr class="my-14 opacity-10" />
    </div>
    

    <div
      class="flex-auto flex flex-col align-stretch sm:align-start gap-6 md:gap-8 px-6"
    >
      <div class="flex flex-col gap-4">
        <h1
          class="text-center sm:text-left text-4xl sm:text-5xl md:text-6xl font-serif font-bold"
        >
          The Garden
        </h1>
        <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
          A collection of essays, notes and excerpts being curated over time.
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-4">
          <h2
            class="text-center sm:text-left text-2xl sm:text-3xl md:text-4xl font-serif font-bold"
          >
            Writing
          </h2>
          <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
            Long-form writing including documents in various stages of maturity,
            from drafts to polished essays.
          </p>
        </div>

        {
          featuredWriting.length > 0 && (
            <div class="flex flex-col gap-6">
              {featuredWriting.map((post) => (
                <PostComponent post={post} size="normal" />
              ))}
              
            </div>
            <a href="/blog/published/1">
              <Button classes="w-full sm:w-auto" text="See all Published Posts" size="lg" />
            </a>
          )
        }
      </div>

      <hr class="my-10 opacity-10" />

      <div class="flex flex-col gap-4">
        <h2
          class="text-center sm:text-left text-2xl sm:text-3xl md:text-4xl font-serif font-bold"
        >
          Notes & Excerpts
        </h2>
        <p class="text-base/6 sm:text-lg/7 md:text-xl/8 m-0 font-light">
          Rough notes and excerpts from works that I liked or just wanted to
          capture and revisit later.
        </p>
      </div>
    </div>

    <Footer />
  </MainContainer>
</Layout>
