---
import { Icon } from 'astro-icon/components';
---

<button
  id="theme-toggle"
  class="cursor-pointer text-indigo-500 dark:text-indigo-200"
  aria-label="Toggle dark mode"
  title="Toggle theme"
>
  <span id="theme-toggle-icon">
    <Icon id="theme-icon" name="sun" />
  </span>
</button>
