---
import { type GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { getFormattedDisplayDate, isInternalPost } from '../../models/post';

export const prerender = true;

export const getStaticPaths: GetStaticPaths = async () => {
  const allGardenEntries = await getCollection('garden');

  const filteredPosts = [
    ...allGardenEntries.filter((post) => isInternalPost(post.data)),
  ];

  return filteredPosts.map((post) => ({
    params: {
      slug: post.id,
    },
  }));
};

const { slug } = Astro.params;
const posts = await getCollection('garden');
const postEntry = posts.find(
  (p) => isInternalPost(p.data) && p.data.slug === slug
);

if (!postEntry) {
  throw new Error('Post not found');
}

const post = postEntry.data;
const { Content } = await render(postEntry);
---

<Layout title={post.title} description={post.description} image={post.image}>
  <div class="flex flex-auto justify-center">
    <div class="px-6 flex-auto w-full max-w-3xl flex flex-col gap-3">
      <div class="flex-initial flex items-center gap-4">
        <p class="text-xs md:text-sm text-black/70 dark:text-white/70">
          {getFormattedDisplayDate(post)}
        </p>
      </div>
      <div>
        <Content />
      </div>
    </div>
  </div>
</Layout>
